<div *ngIf="isNotEmptyObject(episode)" style="text-align: left;">
  <a href="http://jzpro.ru/episode/{{episode['hash']}}" target="_blank">Открыть в отдельном окне</a>
  <div [innerHTML]="episode['descriptionHtml']"></div>
  <br/><br/><br/>
  <div [innerHTML]="iframeStr"></div>
  <br/><br/><br/>
  <span *ngIf="isSignedIn">
    <textarea [value] = "note" (input) = "noteChanged($event.target.value)" rows="6" cols="60"></textarea>
    <button (click)="saveNoteClick($event)">В избранное</button>
  </span>
</div>
