<span>
<app-paginationlink #link1 [parent]="parent" [type]="type" [isVisible]="link1IsVisible" [isCurrent]="link1IsCurrent" [title]="link1Title"></app-paginationlink>
<app-paginationlink #link2 [parent]="parent" [type]="type" [isVisible]="link2IsVisible" [isCurrent]="link2IsCurrent" [title]="link2Title"></app-paginationlink>
<app-paginationlink #link3 [parent]="parent" [type]="type" [isVisible]="link3IsVisible" [isCurrent]="link3IsCurrent" [title]="link3Title"></app-paginationlink>
<app-paginationlink #link4 [parent]="parent" [type]="type" [isVisible]="link4IsVisible" [isCurrent]="link4IsCurrent" [title]="link4Title"></app-paginationlink>
<app-paginationlink #link5 [parent]="parent" [type]="type" [isVisible]="link5IsVisible" [isCurrent]="link5IsCurrent" [title]="link5Title"></app-paginationlink>
<app-paginationlink #link6 [parent]="parent" [type]="type" [isVisible]="link6IsVisible" [isCurrent]="link6IsCurrent" [title]="link6Title"></app-paginationlink>
<app-paginationlink #link7 [parent]="parent" [type]="type" [isVisible]="link7IsVisible" [isCurrent]="link7IsCurrent" [title]="link7Title"></app-paginationlink>
</span>
